{#{% from 'bootstrap/macros.html' import form_field %}#}

{% extends 'bootstrap/base.html' %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
{#            {{ form_field(form.photo) }}#}
            <input type="file" name="file"><br>
            {{ form.submit }}<br>

            {#    #}
            {#    <input type="submit" value="上传">#}
        </form>
    </div>
{% endblock %}